.container .media{
  min-height: 160px;
  width: 150px;
  background-color: #ECEFF1;
}
.container .name {
  font-size: 16px;
  line-height: 20px;
  color: #263238;
  margin-bottom: 5px;
  margin-top: 8px;
  font-weight: bold;
}

.container .price{
  font-size: 16px;
  line-height: 20px;
  color: #9D9D9D;
}
