.container {
  display: flex;
  flex-direction: column;
}

.container input {
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--gray-color);
  transition-duration: 0.1s;
  background: transparent;
  padding: 12px 0;
  color: var(--white-color);
}

.container input:focus, .container input:active {
  outline: 0;
  border: none;
  border-bottom: 2px solid var(--primary-color);
  transition-duration: 0.1s;
}

.container input:focus + .isRequired,
.container input:active + .isRequired,
.container input:focus + .isRequired .icon,
.container input:active + .isRequired .icon {
  color: var(--primary-color);
  fill: var(--primary-color);
  transition-duration: 0.1s;
}

.container input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--placeholder-color);
}

.container label {
  text-transform: uppercase;
  font-weight: 400;
  color: var(--gray-color);
}

.container .isRequired {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  margin-top: 5px;
  color: var(--gray-color);
  align-self: flex-end;
  font-weight: 600;
  transition-duration: 0.1s;
}

.container .isRequired .icon {
  margin-right: 5px;
  fill: var(--gray-color);
  transition-duration: 0.1s;
}
