.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 440px;
}

.container span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 22px;
  color: var(--secondary-color);
}

.container a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  margin-top: 22px;
  text-decoration: none;
  color: var(--secondary-color);
}
