.container {
  display: flex;
}

.container .header {
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 25px;
  font-size: 20px;
  padding: 20px 0;
  width: 100%;
  color: var(--white-color);
  background-color: var(--tab-color);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  mix-blend-mode: normal;
}

.container .header.active {
  cursor: default;
  opacity: 1;
  color: var(--white-color);
  background-color: var(--tab-active-color);
}
