.container {
  box-shadow: 0 -2px 0 #F9F8F6;
  padding-top: 30px;
  text-transform: uppercase;
}

.container .sizeSection {
  display: flex;
  align-items: center;
}

.container .sizes{
  display: flex;
  align-items: center;
  margin-left: 16px;
}

.container .size {
  cursor: pointer;
  padding: 5px 5px;
  width: 44px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #DEDEDE;
  color: #455A64;
}

.container .size.disable {
  border-color: rgba(236, 239, 241, 0.4);
  background-color: rgba(236, 239, 241, 0.4);
}

.container .size.selected {
  border-color: #33333A;
  background-color: #33333A;
  color: var(--white-color);
}

.container .size:not(:last-child) {
  margin-right: 5px;
}

.container .kitSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.container .quantitySection {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.container .quantitySection .quantity {
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 5px 15px;
  color: #515356;
  justify-content: space-between;
  min-height: 40px;
  min-width: 120px;
  border: 1px solid #DEDEDE;
}

.container .quantitySection .quantity .plus,
.container .quantitySection .quantity .less {
  cursor: pointer;
}

.container .addToCard {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  background-color: #33333A;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  color: var(--white-color);
  max-width: 300px;
}
