.checkbox {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox input[type=checkbox] {
  position: relative;
  margin: auto 0;
  width: 34px;
  height: 14px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  transition: background 300ms linear;
}

.checkbox input[type=checkbox]::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  bottom: -25%;
  left: -10px;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 300ms linear;
}

.checkbox input[type=checkbox]:checked {
  background: var(--primary-color);
}

.checkbox input[type=checkbox]:checked::before {
  left: calc(100% - 10px);
  background-color: var(--white-color);
}
