:root {
  --primary-color: #2FCCC3;
  --secondary-color: #392F63;
  --gray-color: #F5F5F5;
  --placeholder-color: rgba(255,255,255, .5);
  --white-color: #FFFFFF;
  --gradient-button: linear-gradient(90deg, #8DE7ED 2.31%, #2FCEC5 100%);
  --tab-active-color: #3A3061;
  --tab-color: rgba(58, 48, 97, 0.35);
}

body {
  background-color: #393FD0;
  max-width: 380px;
  margin: 0 auto;
}

body, * {
  font-family: Dosis, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
